<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Coupon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="/public/css/admin.css" rel="stylesheet" />
    <style>
        @font-face {
            font-family: baton;
            src: url(/public/fonts/Baton-Sans.otf);
        }

        @font-face {
            font-family: obitron;
            src: url(/public/fonts/Orbitron-VariableFont_wght.ttf);
        }


        body {
            font-family: baton;
            letter-spacing: 2px;
            text-transform: none;

        }

        table {
            font-family: obitron;
        }

        td {
            font-family: obitron;
        }

        tr {
            font-family: obitron;
        }

        thead {
            font-family: obitron;
        }

        tbody {
            font-family: obitron;
        }

        form{
          font-family: obitron;
        }
    </style>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body>


    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid px-4">
            <a class="navbar-brand" href="#"><img src="/public/img/logo.png" alt="" height="30px" width="200px"></a>
            <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav d-flex justify-content-center " style="text-transform: uppercase;">
                    <a class="nav-link active  text-black" href="/admin/dashboard">Dashboard</a>



                    <a class="nav-link text-black" href="/admin/products">Products</a>

                    <a class="nav-link text-black" href="/admin/category">Categories</a>

                    <a class="nav-link text-black" href="/admin/order">Orders</a>

                    <a class="nav-link text-black" href="/admin/coupon">Coupons</a>

                    <a class="nav-link text-black" href="/admin/customer">Customers</a>

                    <a class="nav-link text-danger" href="/admin/logout">Logout</a>

                </div>
            </div>
        </div>
    </nav>


    

    <div class="card mb-4 px-2">

      <h3 class="fw-bold">ADD Coupon</h3>
      <p class="text-danger mt-0">
        <%= locals.error %>
      </p>
      <p class="text-success mt-0">
        <%= locals.message %>
      </p>
      <form action="" method="post" >
        <!-- userName -->
        <div class="form-outline mb-4">

          <label class="form-label" for="userName">Coupon Name</label>
          <input type="text" id="name" name="name" class="form-control" required />
          <p id="nameError" class="text-danger mt-3"></p>
        </div>


        <div class="form-outline mb-4">
          <label for="coupon" class="form-label">Code</label>
          <input class="form-control" type="text" name="code">

        </div>

        <div class="form-outline mb-4">

          <label class="form-label" for="modelno">Product</label>
          <select name="newProduct" id="" >
            <%details.forEach((data)=>{%>
              <option value="<%=data._id%>">
                <%=data.name%>
              </option>
              <%})%>
          </select>
          <p id="nameError" class="text-danger mt-3"></p>
        </div>

        <div class="form-outline mb-4">
          <label for="coupon" class="form-label">Min Price</label>
          <input class="form-control" type="text" name="ogPrice">

        </div>

        <div class="form-outline mb-4">
          <label for="coupon" class="form-label">Max Price</label>
          <input class="form-control" type="text" name="fPrice">

        </div>

        <div class="form-outline mb-4">
          <label for="coupon" class="form-label">Expiration Date</label>
          <input class="form-control" type="date" name="expDate">

        </div>

        

        <!-- Submit button -->
        <input type="submit" value="Submit" class="btn upload-btn btn-primary btn-lg btn-block mb-4 py-1" />
      </form>

    </div>




    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


    <script src="/public/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/public/js/datatables-simple-demo.js"></script>
</body>

</html>