<%- include('../partials/adminHeader') %>


    

    <div class="card mb-4 px-2">

      <h3 class="fw-bold">ADD Coupon</h3>
      <p class="text-danger mt-0">
        <%= locals.error %>
      </p>
      <p class="text-success mt-0">
        <%= locals.message %>
      </p>
      <form action="" method="post" >
        <!-- userName -->
        <div class="form-outline mb-4">

          <label class="form-label" for="userName">Coupon Name</label>
          <input type="text" id="name" name="name" class="form-control" required />
          <p id="nameError" class="text-danger mt-3"></p>
        </div>


        <div class="form-outline mb-4">
          <label for="coupon" class="form-label">Code</label>
          <input class="form-control" type="text" name="code">

        </div>

        

        <div class="form-outline mb-4">
          <label for="coupon" class="form-label">Min Cart Value</label>
          <input class="form-control" type="text" name="ogPrice">

        </div>

        <div class="form-outline mb-4">
          <label for="coupon" class="form-label">Offer Discount</label>
          <input class="form-control" type="text" name="fPrice">

        </div>

        <div class="form-outline mb-4">
          <label for="coupon" class="form-label">Expiration Date</label>
          <input class="form-control" type="date" name="expDate">

        </div>

        

        <!-- Submit button -->
        <input type="submit" value="Submit" class="btn upload-btn btn-primary btn-lg btn-block mb-4 py-1" />
      </form>

    </div>




    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


    <script src="/public/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/public/js/datatables-simple-demo.js"></script>
</body>

</html>