<div class="container footer justify-content-center">
    <div class="row py-4 border-bottom border-top footer-part-1">
      <div class="col-lg-4 px-5 my-3">
        <div class="col-12 d-flex justify-content-center mb-3">
          <img
            src="/public/img/icon-tree-02_2x_256x256_crop_center_8d3c7e4d-4f32-481e-a77e-4015cba8eeba_small.png.png"
            alt=""
          />
        </div>

        <div class="col-12 d-flex justify-content-center">
          <h3>
            <center href="">FREE REPAIR</center>
          </h3>
        </div>

        <div class="col-12 d-flex justify-content-center">
          <center href="">
            Maintenance and repairs are free up to 1 year after purchase.
            Repairs are done in-house by our craftsmen.
          </center>
        </div>

        <div class="col-12 d-flex justify-content-center">
          <a href="">Learn More</a>
        </div>
      </div>

      <div class="col-lg-4 px-5 my-3">
        <div class="col-12 d-flex justify-content-center mb-3">
          <img
            src="/public/img/icon-invert-process_2x_256x256_crop_center_9c1d5c5d-2314-409b-a5e0-3de26ac09033_small.png.png"
            alt=""
          />
        </div>

        <div class="col-12 d-flex justify-content-center">
          <h3>
            <center href="">001/500</center>
          </h3>
        </div>

        <div class="col-12 d-flex justify-content-center">
          <center href="">
            All our products are limited to 500 units, numbered by order of
            production.
          </center>
        </div>

        <div class="col-12 d-flex justify-content-center">
          <a href="">Learn More</a>
        </div>
      </div>

      <div class="col-lg-4 px-5 my-3">
        <div class="col-12 d-flex justify-content-center mb-3">
          <img
            src="/public/img/icon-delivery-fast_2x_256x256_crop_center_a79414e0-3aa6-4ea1-b516-802f4f006612_small.png.png"
            alt=""
          />
        </div>

        <div class="col-12 d-flex justify-content-center">
          <h3>
            <center href="">FREE SHIPPING AND RETURN</center>
          </h3>
        </div>

        <div class="col-12 d-flex justify-content-center">
          <center href="">
            Free delivery with DHL anywhere in the world on orders over 200€.
            Free return from the EU, 29€ otherwise.
          </center>
        </div>

        <div class="col-12 d-flex justify-content-center">
          <a href="">Learn More</a>
        </div>
      </div>
    </div>

    <div class="row p-3 footer-part-2">
      <div class="col-lg-4 px-5 my-3">
        <div class="col-12 d-flex justify-content-center">
          <h3>
            <center href="">USEFUL STUFF</center>
          </h3>
        </div>
        <br>
        <div class="col-12 d-flex justify-content-center">
          <a>Payment</a>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <a>Shipping</a>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <a>Returns</a>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <a>Care</a>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <a>Contact</a>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <a>Stores</a>
        </div>

      </div>

      <div class="col-lg-4 px-5 my-3">
          <div class="col-12 d-flex justify-content-center">
            <h3>
              <center href="">OTHER STUFF</center>
            </h3>
          </div>
          <br>
          <div class="col-12 d-flex justify-content-center">
            <a>About us</a>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <a>Instagram</a>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <a>Facebook</a>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <a>Newsletter</a>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <a>T&C</a>
          </div>
         

        </div>

        <div class="col-lg-4 px-5 my-3">
          <div class="col-12 d-flex justify-content-center">
            <h3>
              <center href="">CONTACT US</center>
            </h3>
          </div>
          <br>
          <div class="col-12 d-flex justify-content-center">
            <a>Calicut shop</a>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <center>Purpose Code, Hilite Business Park, Calicut, Kerala, India</center>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <h5>Whatsapp us</h5>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <a>+91 9562 530 330</a>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <a>ckrsales@rsvp-calicut.com</a>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <a></a>
          </div>

        </div>

    </div>
  </div>

  <script>
    if ( window.history.replaceState ) {
   window.history.replaceState( null, null, window.location.href );
    }
 </script>

<script>
  let timeRemaining = localStorage.getItem("timeRemaining") || 30; // retrieve the time remaining from local storage or set it to 60 seconds
  document.getElementById("resend-button").disabled = true;
  const interval = setInterval(() => {
      
      timeRemaining--; // decrease the time remaining by 1 second
      localStorage.setItem("timeRemaining", timeRemaining); // update the time remaining in local storage
      document.getElementById("resend-button").innerHTML = `Resend (${timeRemaining} seconds)`;
      if (timeRemaining <= 0) {
          clearInterval(interval); // stop the timer when it reaches 0
          localStorage.removeItem("timeRemaining"); // remove the time remaining from local storage
          document.getElementById("resend-button").innerHTML = "Resend";
          document.getElementById("resend-button").disabled = false; // enable the button again
      }
  }, 1000); // run the interval every 1000 milliseconds (1 second)

</script>

<script src="/public/js/jquery-3.3.1.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/jquery.magnific-popup.min.js"></script>
<script src="/public/js/jquery-ui.min.js"></script>
<script src="/public/js/mixitup.min.js"></script>
<script src="/public/js/jquery.countdown.min.js"></script>
<script src="/public/js/jquery.slicknav.js"></script>
<script src="/public/js/owl.carousel.min.js"></script>
<script src="/public/js/jquery.nicescroll.min.js"></script>
<script src="/public/js/main.js"></script>

<script>
  document.getElementById("resend-button").addEventListener("click", () => {
      localStorage.setItem("timeRemaining", 30); // reset the timer and store the new time remaining in local storage
       // disable the button
       window.location='http://127.0.0.1:3000/resend';
  });

</script>

 
</body>
</html>
