<div class="container footer justify-content-center">
  <div class="row py-4 border-bottom border-top footer-part-1">
    <div class="col-lg-4 px-5 my-3">
      <div class="col-12 d-flex justify-content-center mb-3">
        <img loading="lazy" src="/public/img/icon-tree-02_2x_256x256_crop_center_8d3c7e4d-4f32-481e-a77e-4015cba8eeba_small.png.png"
          alt="" />
      </div>

      <div class="col-12 d-flex justify-content-center">
       
          <center class="fw-bold mb-3" style="font-size: 1.5rem;" >FREE REPAIR</center>
        
      </div>

      <div class="col-12 d-flex justify-content-center">
        <center href="">
          Maintenance and repairs are free up to 1 year after purchase.
          Repairs are done in-house by our craftsmen.
        </center>
      </div>

      <div class="col-12 d-flex justify-content-center">

      </div>
    </div>

    <div class="col-lg-4 px-5 my-3">
      <div class="col-12 d-flex justify-content-center mb-3">
        <img loading="lazy"
          src="/public/img/icon-invert-process_2x_256x256_crop_center_9c1d5c5d-2314-409b-a5e0-3de26ac09033_small.png.png"
          alt="" />
      </div>

      <div class="col-12 d-flex justify-content-center">
        
          <center class="fw-bold mb-3" style="font-size: 1.5rem;">001/500</center>
        
      </div>

      <div class="col-12 d-flex justify-content-center">
        <center href="">
          All our products are limited to 500 units, numbered by order of
          production.
        </center>
      </div>

      <div class="col-12 d-flex justify-content-center">

      </div>
    </div>

    <div class="col-lg-4 px-5 my-3">
      <div class="col-12 d-flex justify-content-center mb-3">
        <img loading="lazy"
          src="/public/img/icon-delivery-fast_2x_256x256_crop_center_a79414e0-3aa6-4ea1-b516-802f4f006612_small.png.png"
          alt="" />
      </div>

      <div class="col-12 d-flex justify-content-center">
       
          <center class="fw-bold mb-3" style="font-size: 1.5rem;">FREE SHIPPING AND RETURN</center>
       
      </div>

      <div class="col-12 d-flex justify-content-center">
        <center href="">
          Free delivery with DHL anywhere in the world on orders over 200€.
          Free return from the EU, 29€ otherwise.
        </center>
      </div>

      <div class="col-12 d-flex justify-content-center">

      </div>
    </div>
  </div>

  <div class="row p-3 footer-part-2">
    
    

  </div>
</div>


<script>
  if (window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
  }
</script>

<script>
  let timeRemaining = localStorage.getItem("timeRemaining") || 30;
  document.getElementById("resend-button").disabled = true;
  const interval = setInterval(() => {

    timeRemaining--; 
    localStorage.setItem("timeRemaining", timeRemaining); 
    document.getElementById("resend-button").innerHTML = `Resend (${timeRemaining} seconds)`;
    if (timeRemaining <= 0) {
      clearInterval(interval); 
      localStorage.removeItem("timeRemaining"); 
      document.getElementById("resend-button").innerHTML = "Resend";
      document.getElementById("resend-button").disabled = false;
    }
  }, 1000); 

</script>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>


<script src="/public/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script>
  document.getElementById("resend-button").addEventListener("click", () => {
    localStorage.setItem("timeRemaining", 30);
       window.location = 'http://127.0.0.1:3000/resend';
  });

</script>

<script src="/public/zoom/assets/js/xzoom.min.js"></script>

</body>

</html>