<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RSVP</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    

    <style>
      
    </style>
    <link rel="stylesheet" href="/public/css/wishlist.css">

  <link rel="stylesheet" href="/public/zoom/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/zoom/assets/css/fontawesome.css">
	<link rel="stylesheet" href="/public/zoom/assets/css/xzoom.min.css">
	<link rel="stylesheet" href="/public/zoom/assets/css/style.css">
    
    <!-- Css Styles -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/productPage.css" type="text/css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/public/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">

    <style>
        @font-face {
          font-family: baton;
          src: url(/public/fonts/Baton-Sans.otf);
        }
    
        @font-face {
          font-family: obitron;
          src: url(/public/fonts/Orbitron-VariableFont_wght.ttf);
        }
    
        section{
          font-family: obitron;
        }

        center {
          
          font-family: obitron;
        }

        body {
          font-family: baton;
          letter-spacing: 2px;
          text-transform: none;
    
        }
    
        table {
          font-family: obitron;
        }

        a {
          font-family: obitron;
          text-decoration: none;
        }
        p {
          font-family: obitron;
        }
        button {
          font-family: obitron;
        }

        h {
          font-family: obitron;
        }
    
        td {
          font-family: obitron;
        }
    
        tr {
          font-family: obitron;
        }
    
        thead {
          font-family: obitron;
        }
    
        tbody {
          font-family: obitron;
        }
    
        form {
          font-family: obitron;
        }

       
      </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader "></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="/public/img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-2 col-lg-1">
                    <div class="header__logo">
                        <a href="./index.html"><img src="/public/img/logo.png"  alt=""></a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-9 d-flex justify-content-center">
                    <nav class="header__menu ">
                        <ul>
                            <li class="<%=locals.home%>"><a href="/">Home</a></li>
                            
                            <li class="<%=locals.shop%>"><a href="/shop">Shop</a></li>
                           
                               
                            </li>
                            <li class="<%=locals.contact%>"><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <div class="header__right__auth">
                            
                            
                        </div>
                        <ul class="header__right__widget">
                          <li><a class="" href="/user-profile"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                          </svg></a></li>  
                          <li><span class="icon_search search-switch"></span></li>
                            <li><a href="/wish-list"><span class="icon_heart_alt"></span>
                              <%if(wishData!=null){%>  
                              <div class="tip"><%=wishData.products.length%></div>
                              <%}%>
                            </a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>