<%- include('../layouts/header') %>


<div class="container">
    <div class="row my-5">
        <center style="font-size: 3rem;" >Contact Us</center>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
            <table class="table justify-content-center">
                <thead>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <th>Email</th>
                        <td class="text-end">support@bestrsvp.co  <span><a class="" href = "mailto: support@bestrsvp.co">  <i class="bi bi-envelope" style="font-size: x-large;"></i></a></span></td>
                    </tr>
                    <tr>
                        <th>Corporate Office</th>
                        <td class="text-end">Kinfra Techno Industrial Park, National Highway 66 near Calicut University Kakkanchery Chelembra PO, Dt, Thenhipalam, Kerala 673634</td>
                    </tr>
                    <tr>
                        <th>Corpoate Contact</th>
                        <td class="text-end">+91 9999999999</td>
                    </tr>
                    <tr>
                        <th>Sales Manager</th>
                        <td class="text-end">+91 8888888888</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    
    </div>

    

    
</div>


<%- include('../layouts/footer') %>