<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RSVP</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    
    <link rel="stylesheet" href="/public/css/404.css">
    <style>
      
    </style>

    
    <!-- Css Styles -->

   
    <style>
        @font-face {
          font-family: baton;
          src: url(/public/fonts/Baton-Sans.otf);
        }
    
        @font-face {
          font-family: obitron;
          src: url(/public/fonts/Orbitron-VariableFont_wght.ttf);
        }
    
        section{
          font-family: obitron;
        }

        center {
          
          font-family: obitron;
        }

        body {
          font-family: baton;
          letter-spacing: 2px;
          text-transform: none;
    
        }
    
        table {
          font-family: obitron;
        }

        a {
          font-family: obitron;
          text-decoration: none;
        }
        p {
          font-family: obitron;
        }
        button {
          font-family: obitron;
        }

        h1,h2,h3,h4,h5,h6 {
          font-family: obitron;
        }
    
        td {
          font-family: obitron;
        }
    
        tr {
          font-family: obitron;
        }
    
        thead {
          font-family: obitron;
        }
    
        tbody {
          font-family: obitron;
        }
    
        form {
          font-family: obitron;
        }


        

       
      </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg my-3 mx-0 px-0 g-0">
    <div class="container-fluid mx-0 px-0 g-0">
      
      <span class="navbar-brand d-flex justify-content-between mx-0 px-0 g-0" >
        <a href="/">
          <img src="/public/img/logo.png" alt="" height="60%" width="60%">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-bg-dark"></span>
        </button>
      </span>
      <div class="collapse navbar-collapse mx-0 px-0 g-0" id="navbarNavDropdown">
        
        <ul class="navbar-nav ">
          <li class="nav-item text-center">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="/shop">Shop</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          
          
        </ul>
        <%if(usersession){%>
          <span class="d-flex align-items-center ms-auto justify-content-center dropstart" >
            <a class="nav-link dropdown-toggle " href="/profile-page" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person" style="font-size: 25px;"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/user-profile">Profile</a></li>
              <li><a class="dropdown-item" href="/user-address">Address</a></li>
              <li><a class="dropdown-item" href="/orders">Orders</a></li>
              <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
            </ul>
            <%} else{%>
            <a href="/login">Login</a>
            <%}%>
            <a href="/wish-list" class="nav-link fa fa-heart" style="font-size: 25px;"><%if(wishData!=null){%><span class="badge badge-secondary align-text-top" style="font-size: xx-small;"><%=wishData.products.length%></span><%}%></a>
            <a class="nav-link" href="/cart"><i class="bi bi-cart"  style="font-size: 25px;"></i></a>
          </span>
      </div>
    </div>
  </nav>



  <h1>404 Error</h1>
<p class="zoom-area"><b>Page</b>not found </p>
<section class="error-container">
  <span><span>4</span></span>
  <span>0</span>
  <span><span>4</span></span>
</section>





  <div class="container footer justify-content-center">
    <div class="row py-4 border-bottom border-top footer-part-1">
      <div class="col-lg-4 px-5 my-3">
        <div class="col-12 d-flex justify-content-center mb-3">
          <img src="/public/img/icon-tree-02_2x_256x256_crop_center_8d3c7e4d-4f32-481e-a77e-4015cba8eeba_small.png.png"
            alt="" />
        </div>
  
        <div class="col-12 d-flex justify-content-center">
          <h3>
            <center href="">FREE REPAIR</center>
          </h3>
        </div>
  
        <div class="col-12 d-flex justify-content-center">
          <center href="">
            Maintenance and repairs are free up to 1 year after purchase.
            Repairs are done in-house by our craftsmen.
          </center>
        </div>
  
        <div class="col-12 d-flex justify-content-center">
  
        </div>
      </div>
  
      <div class="col-lg-4 px-5 my-3">
        <div class="col-12 d-flex justify-content-center mb-3">
          <img
            src="/public/img/icon-invert-process_2x_256x256_crop_center_9c1d5c5d-2314-409b-a5e0-3de26ac09033_small.png.png"
            alt="" />
        </div>
  
        <div class="col-12 d-flex justify-content-center">
          <h3>
            <center href="">001/500</center>
          </h3>
        </div>
  
        <div class="col-12 d-flex justify-content-center">
          <center href="">
            All our products are limited to 500 units, numbered by order of
            production.
          </center>
        </div>
  
        <div class="col-12 d-flex justify-content-center">
  
        </div>
      </div>
  
      <div class="col-lg-4 px-5 my-3">
        <div class="col-12 d-flex justify-content-center mb-3">
          <img
            src="/public/img/icon-delivery-fast_2x_256x256_crop_center_a79414e0-3aa6-4ea1-b516-802f4f006612_small.png.png"
            alt="" />
        </div>
  
        <div class="col-12 d-flex justify-content-center">
          <h3>
            <center href="">FREE SHIPPING AND RETURN</center>
          </h3>
        </div>
  
        <div class="col-12 d-flex justify-content-center">
          <center href="">
            Free delivery with DHL anywhere in the world on orders over 200€.
            Free return from the EU, 29€ otherwise.
          </center>
        </div>
  
        <div class="col-12 d-flex justify-content-center">
  
        </div>
      </div>
    </div>
  
    <div class="row p-3 footer-part-2">
      
      
  
    </div>
  </div>
  
  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }
  </script>
  
  <script>
    let timeRemaining = localStorage.getItem("timeRemaining") || 30; // retrieve the time remaining from local storage or set it to 60 seconds
    document.getElementById("resend-button").disabled = true;
    const interval = setInterval(() => {
  
      timeRemaining--; // decrease the time remaining by 1 second
      localStorage.setItem("timeRemaining", timeRemaining); // update the time remaining in local storage
      document.getElementById("resend-button").innerHTML = `Resend (${timeRemaining} seconds)`;
      if (timeRemaining <= 0) {
        clearInterval(interval); // stop the timer when it reaches 0
        localStorage.removeItem("timeRemaining"); // remove the time remaining from local storage
        document.getElementById("resend-button").innerHTML = "Resend";
        document.getElementById("resend-button").disabled = false; // enable the button again
      }
    }, 1000); // run the interval every 1000 milliseconds (1 second)
  
  </script>
  
  
  
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
  
  
  <script src="/public/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <script>
    document.getElementById("resend-button").addEventListener("click", () => {
      localStorage.setItem("timeRemaining", 30); // reset the timer and store the new time remaining in local storage
      // disable the button
      window.location = 'http://127.0.0.1:3000/resend';
    });
  
  </script>

  <script>

c = document.getElementById("canv");
$ = c.getContext("2d");
w = c.width;
h = c.height;
id = $.createImageData(w, h);

function draw() {
  window.requestAnimationFrame(draw);
    var r;
    for (var p = 4 * (w * h - 1); p >= 0; p -= 4) {
        r = Math.random();
        id.data[p] = id.data[p+1] = id.data[p+2] = 255 * Math.pow(r, 1.6);
        id.data[p+3] = 255;
    }
    $.putImageData(id, 0, 0);
}

draw();

  </script>



  <script src="/public/zoom/assets/js/jquery-3.6.0.min.js"></script>
  <script src="/public/zoom/assets/js/xzoom.min.js"></script>
  
  </body>
  
  </html>