<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADMIN</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    
    <link href="/public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/public/css/sb-admin-2.min.css" rel="stylesheet">
    
    <link href="/public/css/admin.css" rel="stylesheet" />
    <style>
        @font-face {
            font-family: baton;
            src: url(/public/fonts/Baton-Sans.otf);
        }

        @font-face {
            font-family: obitron;
            src: url(/public/fonts/Orbitron-VariableFont_wght.ttf);
        }


        body {
            font-family: baton;
            letter-spacing: 2px;
            text-transform: none;

        }

        table {
            font-family: obitron;
        }

        td {
            font-family: obitron;
        }

        tr {
            font-family: obitron;
        }

        thead {
            font-family: obitron;
        }

        tbody {
            font-family: obitron;
        }

        form {
            font-family: obitron;
        }
    </style>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body>


    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid px-4">
            <a class="navbar-brand" href="#"><img src="/public/img/logo.png" alt="" height="30px" width="200px"></a>
            <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav d-flex justify-content-center " style="text-transform: uppercase;">
                    <a class="nav-link active  text-black" href="/admin/dashboard">Dashboard</a>



                    <a class="nav-link text-black" href="/admin/products">Products</a>

                    <a class="nav-link text-black" href="/admin/category">Categories</a>

                    <a class="nav-link text-black" href="/admin/order">Orders</a>

                    <a class="nav-link text-black" href="/admin/coupon">Coupons</a>

                    <a class="nav-link text-black" href="/admin/customer">Customers</a>

                    <a class="nav-link text-black" href="/admin/banner">Banner</a>

                    <a class="nav-link text-danger" href="/admin/logout">Logout</a>

                </div>
            </div>
        </div>
    </nav>